{% extends "layout.html" %}

{% block style %}
    <style>
        .sidebar-nav .nav-item:nth-child(4) a {
            color: #4154f1;
            background: #f6f9ff;
        }

        .tj_logo {
            margin-top: 50px;
            width: 400px;
            height: 400px;
            transform: translate(400px);
            background-image: url("{{ imgPath }}");
            background-size: 100% 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            混凝土裂缝识别
        </div>


        <div class="card-body">
            <div class="mb-3">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <label for="formFile" class="form-label">请选择需要识别的裂缝图片</label>
                    {#                    <input class="form-control" type="file" id="formFile">#}
                    <div style="width: 600px; transform: translate(300px); margin: 5px">
                        {{ form.target }}
                    </div>
                    <button type="submit" id="MySubmit" class="btn btn-success" style="margin-top: 5px">开始识别</button>
                </form>
            </div>
        </div>


    </div>
    <div class="card mb-3 tj_logo">
        {#        <img src="/static/PredictedPicture/test/test.jpg" class="card-img-top" alt="...">#}
        {#        {% csrf_token %}#}
        {#        <img src={{ imgPath }} class="card-img-top" alt="...">#}
        {#        <div class="card-body">#}
        {#            <h5 class="card-title">识别后图片保存位置</h5>#}
        {#            <p class="card-text"> djangoProject/IntegratedApp/static/PredictedPicture/</p>#}
        {#            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>#}
        {#        </div>#}
    </div>
{% endblock %}