{% extends "layout.html" %}
{% block style %}
    <style>
        .sidebar-nav .nav-item:nth-child(3) a {
            color: #4154f1;
            background: #f6f9ff;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="card text-center">
        <div class="card-header">
            请输入爬虫关键词
        </div>
        <div class="card-body">
            <h5 class="card-title">将会自动爬取必应相关图片</h5>
            <p class="card-text">图片保存位置：djangoProject/result/images/</p>
            {#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
            <form method="POST" novalidate>
                {% csrf_token %}
                <div style="width: 300px; transform: translate(450px); margin: 5px">
                    {{ form.target }}
                </div>
                <button type="submit" id="MySubmit" class="btn btn-success" style="margin-top: 5px">确认</button>
            </form>
        </div>
    </div>
{% endblock %}